<title>Details</title>

<h2>Movie Poster</h2>

<img src="<%= "#{@result2["Poster"]}" %>"><br>

<ul>

<li><%= "#{@result2["Plot"]}" %></li>
<li><%= "#{@result2["Released"]}" %></li>
<li><%= "#{@result2["Rated"]}" %></li>
<li><%= "#{@result2["Runtime"]}" %></li>
<li><%= "#{@result2["Genre"]}" %></li>
<li><%= "#{@result2["Director"]}" %></li>
<li><%= "#{@result2["Actors"]}" %></li>

</ul>

<a href="/">New Search</a>



<!-- "Plot", "Released Year", "Rated", "Runtime", "Genre", "Director", and "Actors". This should be on the poster page. (Optional: Add a link to the actual IMDB page). -->



