<title>Details</title>

<div class="container">
	
	<h2><%= "#{@result2["Title"]}" %></h2>

	<div class="row">

		<div class="col-md-4">

			<img src="<%= "#{@result2["Poster"]}" %>"><br>

		</div> <!-- end col -->

		<div class="col-md-8">
			
			<table class="table table-hover">
			<tr>
			<td>Release date</td>
			<td><%= "#{@result2["Released"]}" %></td>
			</tr>
			<tr>
			<td>Genre</td>
			<td><%= "#{@result2["Genre"]}" %></td>
			</tr>
			<tr>
			<td>Rating</td>
			<td><%= "#{@result2["Rated"]}" %></td>
			</tr>
			<tr>
			<td>Runtime</td>
			<td><%= "#{@result2["Runtime"]}" %></td>
			</tr>
			<tr>
			<td>Director</td>
			<td><%= "#{@result2["Director"]}" %></td>
			</tr>
			<tr>
			<td>Cast</td>
			<td><%= "#{@result2["Actors"]}" %></td>
			</tr>
			<tr>
			<td>Plot summary</td>
			<td><%= "#{@result2["Plot"]}" %></td>
			</tr>
			<tr>
			<td>IMDB page</td>
			<td><a href ="http://www.imdb.com/title/<%= "#{@result2["imdbID"]}" %>">Link</a></td>
			</tr>

			</table>

		</div> <!-- end col -->
	
	</div> <!-- end row -->

<div class="new_search_link">
	<a href="/">New Search</a>
</div> <!-- end new_search_link -->

</div> <!-- end container -->
