<title>Details</title>

<h2><%= "#{@result2["Title"]}" %></h2>

<img src="<%= "#{@result2["Poster"]}" %>"><br>

<ul>

<li>Release date: <%= "#{@result2["Released"]}" %></li>
<li>Genre: <%= "#{@result2["Genre"]}" %></li>
<li>Rating: <%= "#{@result2["Rated"]}" %></li>
<li>Runtime: <%= "#{@result2["Runtime"]}" %></li>

<li>Director: <%= "#{@result2["Director"]}" %></li>
<li>Cast: <%= "#{@result2["Actors"]}" %></li>
<li>Plot summary: <%= "#{@result2["Plot"]}" %></li>

<li><a href ="http://www.imdb.com/title/<%= "#{@result2["imdbID"]}" %>">IMDB page</a></li>

</ul>

<a href="/">New Search</a>
